@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:wght@200&display=swap');

body
{
    background-image: url("contact.jpg");
    background-position: bottom left;
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 85vh;
    margin: 0px;
    padding: 0px;
}
.outer
{
    position: absolute;
    right: 12%;
    margin-top: 80px;
    padding:20px 0;
    width: 400px;
    height: 480px;
    background-color: rgb(206, 170, 236);
}
.inner
{
    width: 80%;
    margin: auto;
    font-family: 'Roboto Serif', serif;
}
h1
{
    text-align: center;
}
p
{
    font-size: 17px;
    margin-bottom: 0px;
    margin-top: 8px;
    font-weight: 600;
    font-family: 'Roboto Serif', serif;
}
.field
{
    display: inline-block;
    width: 99%;
    padding: 5px 2%;
    margin: 10px 0;
    font-size: 16px;
    border: none;
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Serif', serif;
}
#content
{
    margin-top: 0px;
    height: 100px;
    overflow-y: auto;
}
#sub
{
    display: inline-block;
    background-color: rgb(44, 9, 77);
    color: white;
    width: 120px;
    padding: 7px 10px;
    font-size: 18px;
}
#sub:hover
{
    background-color: rgb(63, 19, 104);
}
@media (max-width: 480px)
{
    body 
    {
        background-image: none;
    }
    .outer
    {
        width: 100%;
        position: static;
        margin: auto;
        margin-top: 100px;
    }
    h1 
    {
        font-size: 24px;
    }
    p 
    {
        font-size: 14px;
    }
    .field
    {
        font-size: 14px;
    }
}