@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:wght@200&display=swap');
body
{
    height: 80vh;
}
.outer
{
    position: relative;
    top:50px;
    text-align: center;
}
.outer img
{
    width:30%;
    min-width: 250px;
}
p
{
    width:80%;
    max-width: 1000px;
    font-family: 'Roboto Serif', serif;
    font-size: 17px;
    line-height: 25px;
    margin-top:58px;
}
.outer a
{
    display:inline-block;
    width:14vw;
    min-width: 110px;
    height:30px;
    border-radius: 5px;
    padding:13px 0px 8px 0px;
    margin:0px 2px;
    margin-top:15px;
    background-color: rgb(255, 255, 255);
    border:3px solid rgb(44, 9, 77);
    color:rgb(44, 9, 77);
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    font-family: 'Roboto Serif', serif;
    
}
.outer a:hover
{
    background-color: rgb(44, 9, 77);
    color: white;
}
@media (max-width: 380px)
{
      .outer a
      {
        font-size: 17px;
      }
      .outer a 
      {
        height: 25px;
      }
}