@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:wght@200&display=swap');

    #info
    {
       position:relative;
       top:50px;
       margin-top: 20px;
       text-align: center;
       width:98vw;
       font-family: 'Roboto Serif', serif;
    }
    p
    {
        width:60%;
        max-width: 2500px;
        min-width: 200px;
        font-size: 19px;
        font-weight: 1px;
        line-height: 27px;
        color: rgb(8, 0, 8);
    }
    a
    {
        display:inline-block;
        width:90px;
        padding: 5px 0;
        padding:8px 20px;
        margin-top:10px;
        margin-right: 10px;
        background-color: rgb(44, 9, 77);
        border: 5px solid rgb(255, 255, 255);
        border-radius: 20px;
        color:rgb(250, 222, 253);
        text-decoration: none;
        font-size: 20px;
    }
    #info img
    {
        width: 55%;
        min-width: 200px;
        height: auto;
    }
    p::first-letter
    {
        font-size:50px;
        letter-spacing: -8px;
        line-height: 0px;
    }
    #info a:hover
    {
        color: white;
        background-color: rgb(64, 19, 107);
        border: 5px solid rgb(64, 19, 107);
        font-size: 23px;
    }
    @media (max-width: 380px)
    {
        p 
        {
            font-size: 16px;
        }
        a 
        {
            width: 80px;
            font-size: 18px;
            padding: 8px 5px;
        }
        #info a:hover 
        {
            font-size: 20px;
        }
    }