@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:wght@200&display=swap');

.material-symbols-outlined 
{
    font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
  ' opsz' 48;
   font-size: 25px;
   vertical-align: middle;
   color:white;
}
.but
{
    display:none;
    position:fixed;
    right:10px;
    background: none;
    border: none;
}
.hMenu
{
    display: inline-block;
    width:60vw;
    vertical-align: middle;
    text-align: center;
    height:100%;
    position: absolute;
    right: 80px;
}
.menu 
{
    text-align: center;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
  
.menu-item 
{
    display: inline-block;
    width:11vw;
    height:85%;
    min-width: 80px;
    font-size:18px;
    font-family:'Roboto', sans-serif;
}
.menu-item a
{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: rgb(173, 145, 209);
}
.current
{
    background-color: rgb(77, 30, 121);
}
.current a
{
    color: rgb(250, 240, 255);
}
.anc:hover
{
    background-color: rgb(62, 21, 102);
    
}
.current:hover
{
    background-color: rgb(77, 30, 121);
}
#logout
{
    color: rgb(255, 41, 41);
    font-size: 16px;
}
#logout:hover
{
    color: rgb(253, 82, 60);
    font-size: 18px;
}
@media (max-width: 800px) 
{
    
    .vMenu
    {
        display: none;
        position:fixed;
        top:50px;
        height: fit-content;
        width: fit-content;
        right: 0px;
        text-align: center;
        background-color: rgb(44, 9, 77);
        border: 2px solid rgb(18, 1, 26);
        z-index: 1;
    }
    .but
    {
        display:inline;
    }
    .menu-item
    {
        display:block;
        width: 120px;
        border: 2px solid rgb(4, 0, 7);
        padding:20px 10px;
        text-align: right;
    }
}