<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DearDiary</title>
    <script src="../static/js/loginPage.js"></script>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/login_signup.css">

</head>
<body>
    <div id="header">
        <img src="logo.png" alt="logo" onclick="window.location.assign('aboutUs.html')">
    </div>
    <h2>Enter the credentials:</h2>
    <p>New User? <a href="signUpPage.html">sign up</a></p>
    <div id="frm">
        <form action="">
            <div class="inp">
                <label for="email"> Email:</label><br>
                <input type="email" id="email">
            </div>
            <div class="inp">
                <label for="pswd"> password:</label><br>
                <input type="password" id="pswd">
            </div>
            <p><a href="forgotPswd.html">forgot password?</a></p>
            <div class="inp" align="center">
                <input type="button" value="login" class="sub" onclick="redirect()">
            </div>
        </form>
    </div>

    
</body>
</html>