<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DearDiary</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/login_signup.css">

</head>
<body>
    <div id="header">
        <img src="logo.png" alt="logo" onclick="window.location.assign('aboutUs.html')">
    </div>
    <h2>To join our community enter the below given details:</h2>
    <p>Already registered? <a href="loginPage.html">login</a></p>
    <div id="frm">
        <form action="">
            <div class="inp">
                <label for="name">name:</label><br>
                <input type="text" id="name">
            </div>
            <div class="inp">
                <label for="email"> Email:</label><br>
                <input type="email" id="email">
            </div>
            <div class="inp">
                <label for="pswd"> password:</label><br>
                <input type="password" id="pswd">
            </div>
            <div class="inp" align="center">
                <input type="submit" value="sign up" class="sub">
            </div>

        </form>
    </div>

    
</body>
</html>